<div class="container-head">
  <div class="container-homie-email">
    <%= image_tag("homie-email") %>
  </div>
  <div class="container-homie-thins">
    <%= image_tag("homi-email-things") %>
  </div>
  <div class="container-text">
    <p class="text-welcome">Hola Propietario Apellido,</p>
    <p class="principal-text">
      ¿Recuerdas el registro que iniciaste para poner en renta tu propiedad con nosotros?
      <a href="https://www.google.com/">Continúa el proceso</a> y disfruta de todo lo que te ofrecemos. En Homie
      queremos que rentes tu inmueble en el menor tiempo posible, por ello también publicamos tu anuncio en:
    </p>
  </div>
  <div class="container-images">
    <div>
      <%= image_tag("lamundi") %>
      <%= image_tag("metros-cubicos") %>
    </div>
    <div>
      <%= image_tag("inmuebles-24") %>
      <%= image_tag("craigslist") %>
    </div>
    <div>
      <%= image_tag("go-placeit") %>
      <%= image_tag("propiedades") %>
      <%= image_tag("mercado-libre") %>
    </div>
  </div>
  <div class="container-more-advertisements">
    <p>así como en anuncios destacados dentro de Facebook y Google,</p>
    <p>todo esto sin costo y sin pedirte exclusividad. ¡No dejes pasar la oportunidad!</p>
  </div>
  <div class="container-button">
    <button class="btn-large">Continuar tu registro ahora</button>
  </div>
</div>